<section id="newRental">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Rental</h1>
        <form #rental="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input [(ngModel)]="newRental.title" name="title" type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input [(ngModel)]="newRental.city" name="city" type="text" class="form-control" id="city">
          </div>

          <div class="form-group">
            <label for="street">Street</label>
            <input [(ngModel)]="newRental.street" name="street" type="text" class="form-control" id="street">
          </div>

          <div class="form-group">
            <label for="city">Category</label>

            <select class="form-control" id="city" [(ngModel)]="newRental.category" name="category">
              <option *ngFor="let category of rentalCategories"> {{category}} </option>
            </select>
          </div>

          <div class=" form-group">
            <label for="image">Image</label>
            <input type="file" name="image" class="form-control" id="image" placeholder="Upload file..."
              (change)="handleImageChange()">
          </div>

          <div class="form-group">
            <label for="bedrooms">Bedrooms</label>
            <input [(ngModel)]="newRental.bedrooms" name="bedrooms" type="number" class="form-control" id="bedrooms">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="newRental.description" name="description" rows="5" type="text" class="form-control"
              id="description">
            </textarea>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Rate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input [(ngModel)]="newRental.dailyRate" name="Daily rate" type="number" name="dailyRate"
                class="form-control" id="dailyRate">
            </div>
          </div>

          <div class="form-group">
            <label for="shared">Shared</label>
            <input type="checkbox" class="form-control" id="shared" [(ngModel)]="newRental.shared" name="shared">
          </div>
          <button (click)="creteRental()" type="button" class="btn btn-bwm">Submit</button>
        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="../../../assets/images/create-rental.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>