<div class="booking">
  <h3 class="booking-price">${{rental.dailyRate}} <span class="booking-per-night">per night</span></h3>
  <hr>
  <label>Dates</label>
  <input type="text" class="form-control daterangepicker-input" name="daterangeInput" daterangepicker
    [options]="options" (selected)="selectedDate($event, daterange)" />
  <div class="form-group">
    <label for="guests">Guests</label>
    <input type="number" class="form-control" id="guests" aria-describedby="emailHelp" [(ngModel)]="newBooking.guests">
  </div>
  <button (click)="reserveRental()" class="btn btn-danger btn-confirm btn-block">Reserve place now</button>

  <button (click)="showModal(content)">Show Bootstrap Modal</button>
  <hr>
  <p class="booking-note-title">People are interested into this house</p>
  <p class="booking-note-text">
    More than 500 people checked this rental in last month.
  </p>
</div>

<ng-template #content let-cl="close" let-di="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5> <button type="button" class="close"
        (click)="cl('Closed from Close button')">

        <span aria-hidden="true">×</span>

      </button>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer"> <button type="button" class="btn btn-secondary"
        (click)="di('Dismissed from dismiss button')">Dismiss</button> <button type="button" class="btn btn-primary"
        (click)="cl('Closed from Close button')">Close</button> </div>
  </div>
</ng-template>